<div class="hm-cell @CssClass @(IsHighlighted ? "apr" : "")" style="@(IsLastColumn ? "border-right:none;" : "")">
    @if (Items == null || Items.Count == 0)
    {
        <div class="it empty">-</div>
    }
    else
    {
        @foreach (var item in Items)
        {
            <div class="it">@item</div>
        }
    }
</div>

@code {
    [Parameter] public List<string> Items { get; set; } = new();
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter] public bool IsHighlighted { get; set; }
    [Parameter] public bool IsLastColumn { get; set; }
}