root = true

[*]
indent_style = space
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs}]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_primary_constructors = true:suggestion
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1062.severity = suggestion

[*.{json,razor,cshtml,csproj,sln}]
indent_size = 2