<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920" />
    <title>Executive Reporting Dashboard</title>
    <link href="app.css" rel="stylesheet" />
    <link href="ReportingDashboard.styles.css" rel="stylesheet" />
</head>
<body>
    <Routes />
</body>
</html>