@namespace ReportingDashboard.Web.Components
@using ReportingDashboard.Models

<div class="hm-cell @ThemeCellClass @(IsHighlighted ? "highlight" : "")" style="@BulletColorStyle">
    @if (Cell is null || Cell.Items.Count == 0)
    {
        <div class="it empty">-</div>
    }
    else
    {
        @foreach (var item in Cell.Items)
        {
            <div class="it">@item</div>
        }
    }
</div>

@code {
    [Parameter] public MonthCell Cell { get; set; } = default!;
    [Parameter] public string ColorTheme { get; set; } = "";
    [Parameter] public bool IsHighlighted { get; set; }

    private string ThemeCellClass => ColorTheme switch
    {
        "shipped" => "ship-cell",
        "progress" => "prog-cell",
        "carryover" => "carry-cell",
        "blockers" => "block-cell",
        _ => ""
    };

    private string BulletColorStyle => ColorTheme switch
    {
        "shipped" => "--bullet-color: #34A853;",
        "progress" => "--bullet-color: #0078D4;",
        "carryover" => "--bullet-color: #F4B400;",
        "blockers" => "--bullet-color: #EA4335;",
        _ => "--bullet-color: transparent;"
    };
}