<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920" />
    <title>Executive Reporting Dashboard</title>
    <HeadOutlet />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="ReportingDashboard.Web.styles.css" />
</head>
<body>
    <Routes />
</body>
</html>