<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ReportingDashboard.Web.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
</body>

</html>
