@{
    var cellClass = $"hm-cell {ColorClass}-cell";
    if (IsCurrentMonth) cellClass += " current-month";
}

<div class="@cellClass">
    @if (Items.Count > 0)
    {
        @foreach (var item in Items)
        {
            <div class="it">@item</div>
        }
    }
    else
    {
        <div class="empty-dash">-</div>
    }
</div>

@code {
    [Parameter] public List<string> Items { get; set; } = new();
    [Parameter] public string ColorClass { get; set; } = "";
    [Parameter] public bool IsCurrentMonth { get; set; }
}