@namespace ReportingDashboard.Web.Components
@using ReportingDashboard.Web.Models

<div class="tl-area">
    <div class="tl-svg-box"></div>
</div>

@code {
    [Parameter] public TimelineModel? Timeline { get; set; }
    [Parameter] public DateOnly CurrentDate { get; set; }
}