## .NET
bin/
obj/
publish/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## User secrets
secrets.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Rider
.idea/
*.sln.iml