<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <link href="css/dashboard.css" rel="stylesheet" />
</head>
<body>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)" />
        </Found>
        <NotFound>
            <p>Page not found</p>
        </NotFound>
    </Router>
</body>
</html>