@page "/"
@using ReportingDashboard.Web.Services
@using ReportingDashboard.Web.Models
@using ReportingDashboard.Web.Components.Sections
@inject IDashboardDataService DataService
@rendermode InteractiveServer

<div class="dashboard-container">
    @if (_data is not null)
    {
        <HeaderSection ProjectInfo="@_data.ProjectInfo" />

        <TimelineSection Milestones="@_data.Milestones" />

        <StatusSections WorkItems="@_data.WorkItems" />
    }
    else
    {
        <p class="loading-text">Loading dashboard…</p>
    }
</div>

@code {
    private DashboardData? _data;

    protected override async Task OnInitializedAsync()
    {
        _data = await DataService.GetDashboardDataAsync();
    }
}