@page "/"
@inject IDashboardDataService DataService

@if (_isLoading)
{
    <div class="dashboard-loading">Loading dashboard&hellip;</div>
}
else
{
    <HeaderSection ProjectInfo="@_projectInfo" />
}

@code {
    private ProjectInfo _projectInfo = new();
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var data = await DataService.GetDashboardDataAsync();
        _projectInfo = data.ProjectInfo;
        _isLoading = false;
    }
}