<div class="hm-cell @CssClass" style="@(IsLastColumn ? "border-right:none;" : "")">
    @if (Items == null || Items.Count == 0)
    {
        <div class="empty-cell">-</div>
    }
    else
    {
        @foreach (var item in Items)
        {
            <div class="it">@item</div>
        }
    }
</div>

@code {
    [Parameter] public required List<string> Items { get; set; }
    [Parameter] public required string CssClass { get; set; }
    [Parameter] public bool IsLastColumn { get; set; }
}