@if (Items is { Count: > 0 })
{
    @foreach (var item in Items)
    {
        <div class="it">@item</div>
    }
}
else
{
    <span style="color:#AAA;">-</span>
}

@code {
    [Parameter] public List<string>? Items { get; set; }
    [Parameter] public string CssClass { get; set; } = "";
    [Parameter] public bool IsCurrentMonth { get; set; }
}