@if (Items is null || Items.Count == 0)
{
    <span style="color:#AAA;">-</span>
}
else
{
    @foreach (var item in Items)
    {
        <div class="it @(CssClass)-it">@item</div>
    }
}

@code {
    [Parameter]
    public List<string>? Items { get; set; }

    [Parameter]
    public string CssClass { get; set; } = "";

    [Parameter]
    public bool IsCurrentMonth { get; set; }
}