@page "/"
@inject IDashboardDataService Data
@using ReportingDashboard.Web.Components.Pages.Partials
@using ReportingDashboard.Web.Layout

<div class="page">
    @if (_result.Error is not null)
    {
        <ErrorBanner Error="_result.Error" />
    }
    @if (_result.Data is { } d)
    {
        <DashboardHeader Project="d.Project" NowLabel="@_nowLabel" />
        <TimelineSvg Model="_timelineVm" />
        <Heatmap Model="_heatmapVm" />
    }
    else
    {
        <DashboardHeader Project="Project.Placeholder" NowLabel="@_nowLabel" />
        <TimelineSvg Model="TimelineViewModel.Empty" />
        <Heatmap Model="HeatmapViewModel.Empty" />
    }
</div>

@code {
    private DashboardLoadResult _result = default!;
    private TimelineViewModel _timelineVm = TimelineViewModel.Empty;
    private HeatmapViewModel _heatmapVm = HeatmapViewModel.Empty;
    private string _nowLabel = string.Empty;

    protected override void OnInitialized()
    {
        _result = Data.GetCurrent();
        var today = DateOnly.FromDateTime(DateTime.Today);
        _nowLabel = $"Now ({DateTime.Today:MMM yyyy})";

        if (_result.Data is { } d)
        {
            _timelineVm = TimelineLayoutEngine.Build(d.Timeline, today);
            _heatmapVm = HeatmapLayoutEngine.Build(d.Heatmap, today);
        }
    }
}