@inherits ComponentBase
@using ChartJS.Blazor.BarChart
@using ChartJS.Blazor.Common

<div class="status-chart-container" style="width: 100%; max-width: 600px; height: 300px;">
    <canvas id="statusChart"></canvas>
</div>

@code {
}