*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #111;
    background: #FFFFFF;
}

a {
    color: #0078D4;
    text-decoration: none;
}