@if (DashboardData != null)
{
	<section class="metrics-container">
		<div class="metrics-grid">
			<div class="metrics-column">
				<h4>Shipped (@DashboardData.ShippedItems.Count)</h4>
				<div class="metrics-list">
					@foreach (var item in DashboardData.ShippedItems)
					{
						<MetricsCard @key="item.Id" Item="item" Category="Shipped" />
					}
				</div>
			</div>

			<div class="metrics-column">
				<h4>In Progress (@DashboardData.InProgressItems.Count)</h4>
				<div class="metrics-list">
					@foreach (var item in DashboardData.InProgressItems)
					{
						<MetricsCard @key="item.Id" Item="item" Category="InProgress" />
					}
				</div>
			</div>

			<div class="metrics-column">
				<h4>Carryover (@DashboardData.CarryoverItems.Count)</h4>
				<div class="metrics-list">
					@foreach (var item in DashboardData.CarryoverItems)
					{
						<MetricsCard @key="item.Id" Item="item" Category="Carryover" />
					}
				</div>
			</div>
		</div>
	</section>
}

@code {
	[CascadingParameter]
	public DashboardData? DashboardData { get; set; }
}