@namespace AgentSquad.ReportingDashboard.Components

<div class="chart-container">
    <h3>Project Milestones Timeline</h3>
    @if (DashboardData?.Milestones?.Count > 0)
    {
        <!-- Chart will be rendered here -->
    }
    else
    {
        <p>No milestones scheduled</p>
    }
</div>

@code {
    [CascadingParameter]
    public DashboardData DashboardData { get; set; }
}