@page "/"
@layout DashboardLayout
@inject DashboardDataService DataService

@if (DataService.IsError)
{
    <p>Error: @DataService.ErrorMessage</p>
}
else if (DataService.Data is not null)
{
    <p>Data loaded: @DataService.Data.Title</p>
}