@page "/"
@inject DashboardDataService DataService

@if (_data is null)
{
    <ErrorPanel Message="Dashboard data could not be loaded. Check data.json for errors." />
}
else if (!string.IsNullOrEmpty(_data.ErrorMessage))
{
    <ErrorPanel Message="@_data.ErrorMessage" />
}
else
{
    <div class="dashboard">
        <Header Data="@_data" />
        <Timeline Data="@_data" />
        <Heatmap Data="@_data" />
    </div>
}

@code {
    private DashboardData? _data;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _data = await DataService.LoadDataAsync();
        }
        catch
        {
            _data = null;
        }
    }
}