<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920" />
    <title>Executive Reporting Dashboard</title>
    <base href="/" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="ReportingDashboard.styles.css" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="dismiss">&#x1F5D9;</a>
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>