<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, initial-scale=1.0" />
    <title>Executive Reporting Dashboard</title>
    <base href="/" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/timeline.css" />
    <link rel="stylesheet" href="css/status-sections.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>