@using ReportingDashboard.Models

<div class="hdr">
    <div>
        <h1>@Data.Title <a href="@Data.BacklogLink" target="_blank">↗ ADO Backlog</a></h1>
        <div class="sub">@Data.Subtitle</div>
    </div>
    <div>
        @* Right side: legend - implemented in next step *@
    </div>
</div>

@code {
    [Parameter]
    public DashboardData Data { get; set; } = default!;
}