@{
    var cellClass = $"hm-cell {CssPrefix}-cell{(IsCurrentMonth ? " apr" : "")}";
}

@if (Items.Count == 0)
{
    <div class="@cellClass empty-cell">&ndash;</div>
}
else
{
    <div class="@cellClass">
        @foreach (var item in Items)
        {
            <div class="it">@item</div>
        }
    </div>
}

@code {
    [Parameter]
    public List<string> Items { get; set; } = default!;

    [Parameter]
    public string CssPrefix { get; set; } = default!;

    [Parameter]
    public bool IsCurrentMonth { get; set; }
}