<div class="@CellClass">
    @if (Items is not null && Items.Count > 0)
    {
        @foreach (var item in Items)
        {
            <div class="it">@item</div>
        }
    }
    else
    {
        <div style="color:#AAA;text-align:center">-</div>
    }
</div>

@code {
    [Parameter]
    public List<string>? Items { get; set; }

    [Parameter]
    public string CssPrefix { get; set; } = string.Empty;

    [Parameter]
    public bool IsCurrentMonth { get; set; }

    private string CellClass
    {
        get
        {
            var baseClass = $"hm-cell {CssPrefix}-cell";
            return IsCurrentMonth ? $"{baseClass} apr" : baseClass;
        }
    }
}