<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.DashboardLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Layout.DashboardLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>