@namespace ReportingDashboard.Web.Components.Pages.Partials

<div class="tl-area">
    <div class="tl-svg-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="1560" height="185" style="overflow:visible;display:block">
            <!-- Timeline SVG contents populated by T6. -->
        </svg>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public required TimelineViewModel Model { get; set; }
}
