@* T1 stub. T4 will implement the 230px lane-label column + 1560x185 SVG. *@

<div class="tl-area">
    <svg xmlns="http://www.w3.org/2000/svg" width="1560" height="185"></svg>
</div>

@code {
    [Parameter, EditorRequired] public required TimelineViewModel Model { get; set; }
}