@inherits ErrorBoundaryBase

@if (ErrorContent is not null)
{
    @ErrorContent(Exception)
}
else if (Exception is not null)
{
    <div class="container-fluid" style="padding: 30px;">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">An error occurred</h4>
                    <p style="margin: 0; font-size: 14px;">@Exception.Message</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment<Exception>? ErrorContent { get; set; }
}