@page "/"

<div class="hdr">
    <!-- Header component will be inserted here by task #2234 -->
</div>

<div class="tl-area">
    <!-- Timeline component will be inserted here by task #2235 -->
</div>

<div class="hm-wrap">
    <!-- Heatmap component will be inserted here by task #2236 -->
</div>