<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Page not found</PageTitle>
            <div class="container">
                <h1>Page not found</h1>
                <p>Sorry, there is nothing at this address.</p>
            </div>
        </NotFound>
    </Router>
</CascadingAuthenticationState>