<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Static File Handling -->
    <staticContent>
      <!-- JSON MIME Type -->
      <mimeMap fileExtension=".json" mimeType="application/json" />
      
      <!-- Ensure standard types are defined -->
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      
      <!-- Remove default handlers to avoid conflicts -->
      <staticContent>
        <remove fileExtension=".svg" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      </staticContent>
    </staticContent>

    <!-- HTTP Response Headers & Caching -->
    <httpProtocol>
      <customHeaders>
        <!-- Cache Control for Static Assets (1 year = 31536000 seconds) -->
        <add name="Cache-Control" value="public, max-age=31536000" />
        
        <!-- Disable caching for HTML files (always check for updates) -->
        <add name="Pragma" value="public" />
        
        <!-- Security Headers -->
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        
        <!-- CORS (allow same-origin only) -->
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>

    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Static Compression for CSS and JS -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <scheme name="deflate" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      
      <!-- Compression for static files -->
      <staticTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
      
      <!-- Compression for dynamic content -->
      <dynamicTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
    </httpCompression>

    <!-- Rewrite Rules for Static Files -->
    <rewrite>
      <rules>
        <!-- Cache-busting for versioned assets -->
        <rule name="Cache Static Assets" stopProcessing="true">
          <match url="^(css|js|data|images)/.*" />
          <action type="Rewrite" url="{R:0}" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^(https?)" />
          </conditions>
        </rule>
      </rules>
    </rewrite>

    <!-- Default Document -->
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Directory Browsing (disabled for security) -->
    <directoryBrowse enabled="false" />

    <!-- Request Filtering -->
    <security>
      <requestFiltering>
        <!-- Block access to sensitive files -->
        <fileExtensions>
          <add fileExtension=".config" allowed="false" />
          <add fileExtension=".exe" allowed="false" />
          <add fileExtension=".dll" allowed="false" />
          <add fileExtension=".asp" allowed="false" />
          <add fileExtension=".aspx" allowed="false" />
        </fileExtensions>
        
        <!-- Allowed HTTP methods -->
        <verbs>
          <add verb="GET" allowed="true" />
          <add verb="HEAD" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <!-- Module handling for Blazor -->
    <modules>
      <remove name="WebSocketModule" />
      <add name="WebSocketModule" image="%windir%\System32\inetsrv\iiswsock.dll" />
    </modules>

    <!-- Handler Mappings -->
    <handlers accessPolicy="Read, Execute">
      <!-- Allow static files to be served -->
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
    </handlers>
  </system.webServer>

  <!-- Application Settings -->
  <appSettings>
    <!-- Static file cache expiration (1 year in seconds) -->
    <add key="StaticFileCacheExpiration" value="31536000" />
    
    <!-- Enable compression -->
    <add key="EnableCompression" value="true" />
  </appSettings>

  <!-- ASP.NET Settings -->
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" />
    
    <!-- Session State -->
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    
    <!-- Authentication (not used in this application) -->
    <authentication mode="None" />
    
    <!-- Authorization (allow all) -->
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>

  <!-- Runtime -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Version bindings for .NET assemblies -->
    </assemblyBinding>
  </runtime>
</configuration>