@using System.Diagnostics.CodeAnalysis
@implements IAsyncDisposable
@inject IJSRuntime JS

<div id="app">
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%"/>
    </svg>
    <div class="loading-progress-text">@Message</div>
</div>

@code {
    private string? Message = "Loading...";
    private string? lastUri;
    private bool applicationReady;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                applicationReady = await JS.InvokeAsync<bool>("blazorCulture.setLanguage", "en-US");
                await JS.InvokeAsync<object>("eval", "window.bootstrapLoaded = true");
                Message = "Ready";
                await Task.Delay(2000);
            }
            catch (Exception ex)
            {
                Message = $"Error: {ex.Message}";
            }
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (JS is not null)
        {
            try
            {
                await JS.InvokeVoidAsync("blazorCulture.dispose");
            }
            catch
            {
            }
        }
    }
}